body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.3s, color 0.3s;
  }
  
  .dark body {
    background-color: #1a202c;
    color: #e2e8f0;
  }
  
  a {
    transition: color 0.3s;
  }
  
  a:hover {
    color: #05040f;
  }
  
  button, .btn {
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #4f46e5;
    color: white;
    border: none;
  }
  
  button:hover, .btn:hover {
    background-color: #ee9118;
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in forwards;
    opacity: 0;
  }
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  h1, h2, h3, h4, h5 {
    transition: font-size 0.3s ease;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.75rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  